body {
  background-color: aquamarine;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

.photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.sec-container {
  background-color: rgb(223, 132, 132);
}

.contact {
  text-align: center;
}

.company h2 {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact, .company {
    text-align: left;
  }
}