body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  flex: 1;
}

.photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.sec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  flex: 1;
  background-color: rgb(223, 132, 132);
}

.contact {
  text-align: center;
}

.company h2 {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #ddd;
}

@media (min-width: 300px) {
  .card {
    max-width: 500px;
    flex-direction: row;
    text-align: left;
    gap: 1.5rem;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 600px) {
  .card {
    max-width: 500px;
    flex-direction: row;
    text-align: left;
    gap: 1.5rem;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 900px) {
    body {
    flex-direction: column;
  }

  .layout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


  .header {
    width: 30%;
  }

  .main {
    width: 70%;
  }


  .container {
    width: 60%;
    align-items: flex-start;
  }

  .card {
    max-width: 700px;
    padding: 2rem;
  }

  .name {
    font-size: 2rem;
  }

  .title, .company, .phone {
    font-size: 1.2rem;
  }
}
